div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.homepage_component{
    height: 100vh;
    align-items: center;
}

span{
    padding: 5px 5px;
}

mat-form-field{
    width: 75%;
}

button{
    width: 250px;
}

mat-divider {
    width: 75%;
}