h1 {
    text-align: center;
}

.separator{
    margin-top: 20px;
}

table,th,td {
    border: 2px solid black;
}

.table-even{
    background-color: palegreen;
}

.table-odd{
    background-color: purple;
}

form {
    width: 100%;
    text-align: center;
}
html {
    height: 100%;
}